.mainContainer {
    padding: 4%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 25px; /* adjust as needed */
  
  }

  .flexible-card .ant-card-body {
    flex-grow: 1;
    /* display: "inline-flex";
    align-self: "stretch"; */

}

.innerCard {
  gutter: 0;
}

